<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title>@kziel Suites Drink Request</title>
  <script>
  var drinks = <%= raw(@drinks.to_json) %>;
  </script>
</head>
<body>
  <div class="cheatline">
    <div class="title"><a href="http://twitter.com/kziel">@kziel</a> Suites Drink Request</div>
    <div class="blue"></div>
    <div class="gold"></div>
    <div class="yellow"></div>
    <div class="slant"></div>
    <div class="logo"></div>
    <div class="text">
      <span>I've got 21 hours in Singapore Suites and another 4 in Singapore First. Request a single drink and I'll drink the whole thing,</span><br> no matter how bad it is. And tweet you a photo #kzielsuitesdrink.
    </div>
  </div>
  <div class="container">
    <div class="info">
      <div class="splash">To make sure you are an authorized requestor, simply click the link to login through twitter. You are only allowing the app to read your timeline and profile.<br><br><a href="<%= login_path %>">Login With Twitter</a></div>
    </div>
  </div>
</body>
</html>
